<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="../assets/logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Employee Manager
  </a>
  <div class="row mr-3">
    <nav class="my-2 my-md-0 mr-md-3">
      <a
        class="btn btn-outline-primary"
        routerLinkActive="active"
        routerLink="/employees-list"
        >View Employees</a
      >
    </nav>
    <a
      class="btn btn-outline-primary"
      routerLinkActive="active"
      routerLink="/create-employee"
      >Add Employee</a
    >
  </div>
</nav>

<router-outlet></router-outlet>
<footer>
  <a
    href="https://www.flaticon.com/free-icons/user"
    title="user icons"
    style="position: fixed; bottom: 5px"
    >User icons created by Freepik - Flaticon</a
  >
</footer>
